<% if @current_user %>

  <h1>Places</h1>

  <p>
    <a class="btn btn-dark my-3" href="/places/new" role="button">New place</a>
  </p>

  <ul>
    <% for place in @places %>
      <li><a href="/places/<%= place["id"] %>"><%= place["name"] %></a></li>
    <% end %>
  </ul>

<% end %>